*.local
*.identcache
*.dcu
*.groupproj
*.dproj
*.dproj.local
*.exe
__history/*
*.~?~
*.~??~
*.~???~
*.~????~
*.~?????~
*.~???
bin/*
bin/dcu/*
*.lps
*.o
*.compiled
*.ppu
*.lfm
*.bak
backup/*
lib/*
*.log
