*.local
*.identcache
*.dcu
*.groupproj
*.dproj
*.dproj.local
*.exe
__history/*
Units/Forms/__history/*
Units/PascalCoin/__history/*
Units/Utils/__history/*
PasOpenCL/__history/*
Synapse/__history/*
*.~?~
*.~??~
*.~???~
*.~????~
*.~?????~
*.~???
bin/*
bin/dcu/*
*.lps
*.o
*.compiled
*.ppu
*.bak
backup/*
Units/Forms/backup/*
Units/PascalCoin/backup/*
Units/Utils/backup/*
PasOpenCL/backup/*
Synapse/lib/backup/*
lib/*
*.log
*.dll
